PORT=3000
MONGODB_URI=mongodb://localhost:27017/tmaback
BOT_TOKEN=your_bot_token_here

# Upstash Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Mongodb 
MONGODB_URI=
MONGODB_DB=REELS

JWT_SECRET=your_jwt_secret_here
MINI_APP_URL=https://dramabox-tau-eosin.vercel.app